<div class="container">
    <h1> Crear Lugar</h1>
    <hr>
<form (ngSubmit)="guardarLugar()" id="lugarForm">
    <div class="mb-3">
        <label class="form-label">Nombre: *</label>
    <input type="text" class="form-control"
    [(ngModel)]="lugar.nombre" 
    [ngModelOptions]="{standalone:true}" required>
    </div>
    <br>
    <br>
    <div class="mb-3">
    <label class="form-label">Descripcion: *</label>
    <input type="text" class="form-control"
    [(ngModel)]="lugar.descripcion" 
    [ngModelOptions]="{standalone:true}" required>
    </div>
    <br>
    <br>
    <div class="mb-3">
        <label class="form-label">Imagen: *</label>
        <input (change)="handleUpload($event)" type="file" class="form-control"
        [(ngModel)]="lugar.imagen" 
        [ngModelOptions]="{standalone:true}" required>
        </div>
    <br>
    <br>
    <input type="submit" class="btn btn-outline-success float-end" value="Guardar">
    <button class="btn btn-outline-primary float-end" (click)="limpiarFormulario()">Limpiar formulario</button>
</form>