<br>
<br>
<form (ngSubmit)="guardarExamen()" id="examenForm">
    <input type="text" 
    [(ngModel)]="examen.noParcial" 
    [ngModelOptions]="{standalone:true}"
    placeholder="Numero Parcial"
    required>
    <br>
    <br>
    <input type="date" 
    [(ngModel)]="examen.fechaExamen" 
    [ngModelOptions]="{standalone:true}"
    placeholder="Fecha Examen"
    required>
    <br>
    <br>
    <input type="text" 
    [(ngModel)]="examen.nota" 
    [ngModelOptions]="{standalone:true}"
    placeholder="Nota"
    required>
    <br>
    <br>
    <input type="text" 
    [(ngModel)]="examen.carnet"  
    [ngModelOptions]="{standalone:true}"
    placeholder="Carnet"
    required>
    <br>
    <br>
    <input type="submit">
</form>