<div class="container">
    <h1>Iniciar sesión</h1>
    <hr>
</div>
 <div class="position-absolute top-50 start-50 translate-middle">
<form (ngSubmit)="login()" id="loginForm">

    <input type="text" 
    [(ngModel)]="administrador.usuario" 
    [ngModelOptions]="{standalone:true}"
    placeholder="Usuario"
    required>
    <br>
    <br>
    <input type="password" 
    [(ngModel)]="administrador.password"  
    [ngModelOptions]="{standalone:true}"
    placeholder="Password"
    required>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Ingresar">
</form>
</div> 