<div class="container">
    <h1>Menu Principal</h1>
    <hr>
</div>
 <div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-flex justify-content-center">
    <button (click)="buscarUsuario()" class="btn btn-outline-warning">Consultar Usuarios</button>
    <button (click)="buscarReserva()" class="btn btn-outline-warning">Consultar Reservas</button>
    <button (click)="guardarTipo()" class="btn btn-outline-warning">Agregar tipo de anuncio</button>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
    <button (click)="buscarAnuncio()" class="btn btn-outline-primary">Consultar Anuncios</button>
    <button (click)="guardarAnuncio()" class="btn btn-outline-primary">Agregar Anuncios</button>
    <button (click)="eliminarAnuncio()" class="btn btn-outline-primary">Eliminar Anuncios</button>
    </div>
<br>
<br>
    <div class="d-flex justify-content-center">
    <button (click)="buscarLugar()" class="btn btn-outline-danger">Consultar Lugares</button>
    <button (click)="guardarLugar()" class="btn btn-outline-danger">Agregar Lugares</button>
    <button (click)="eliminarLugar()" class="btn btn-outline-danger">Eliminar Lugares</button>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
    <button (click)="guardarViaje()" class="btn btn-outline-success">ABC Viajes</button>
    <button (click)="buscarTipo()" class="btn btn-outline-success">Consultar tipo de anuncio</button>
    </div>
</div>